.templates/nodered/reference_flow.json
[
    {
        "id": "9c2f6343.329b68",
        "type": "tab",
        "label": "<LOCATION_NAME>/<SENSOR_NAME>",
        "disabled": false,
        "info": ""
    },
    {
        "id": "edeb8da8.c6138",
        "type": "mqtt in",
        "z": "9c2f6343.329b68",
        "name": "",
        "topic": "<LOCATION_NAME>/<SENSOR_NAME>/out/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "3ca313b8.542abc",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "d19de648.12193",
                "d9e8aabb.29fc48"
            ]
        ]
    },
    {
        "id": "d9e8aabb.29fc48",
        "type": "debug",
        "z": "9c2f6343.329b68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "d19de648.12193",
        "type": "influxdb out",
        "z": "9c2f6343.329b68",
        "influxdb": "7780c62b.7cb898",
        "name": "<SENSOR_NAME>_temperature",
        "measurement": "<SENSOR_NAME>_temperature",
        "precision": "s",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "52f9374a.42e46",
        "type": "mqtt in",
        "z": "9c2f6343.329b68",
        "name": "",
        "topic": "<LOCATION_NAME>/<SENSOR_NAME>/out/humidity",
        "qos": "0",
        "datatype": "json",
        "broker": "3ca313b8.542abc",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "68749db9.1fca04",
                "83f13a0a.bda58"
            ]
        ]
    },
    {
        "id": "c2f39951.ed3fb",
        "type": "mqtt in",
        "z": "9c2f6343.329b68",
        "name": "",
        "topic": "<LOCATION_NAME>/<SENSOR_NAME>/out/pressure",
        "qos": "0",
        "datatype": "json",
        "broker": "3ca313b8.542abc",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "1ac29426.bea47c",
                "d8bfe21b.ce8a38"
            ]
        ]
    },
    {
        "id": "d6d7ef9a.1de6c8",
        "type": "mqtt in",
        "z": "9c2f6343.329b68",
        "name": "",
        "topic": "<LOCATION_NAME>/<SENSOR_NAME>/out/gasResistance",
        "qos": "0",
        "datatype": "json",
        "broker": "3ca313b8.542abc",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "aef4a194.eb803",
                "417ccf4c.2cffa"
            ]
        ]
    },
    {
        "id": "68749db9.1fca04",
        "type": "debug",
        "z": "9c2f6343.329b68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "83f13a0a.bda58",
        "type": "influxdb out",
        "z": "9c2f6343.329b68",
        "influxdb": "7780c62b.7cb898",
        "name": "<SENSOR_NAME>_humidity",
        "measurement": "<SENSOR_NAME>_humidity",
        "precision": "s",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "1ac29426.bea47c",
        "type": "debug",
        "z": "9c2f6343.329b68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "d8bfe21b.ce8a38",
        "type": "influxdb out",
        "z": "9c2f6343.329b68",
        "influxdb": "7780c62b.7cb898",
        "name": "<SENSOR_NAME>_pressure",
        "measurement": "<SENSOR_NAME>_pressure",
        "precision": "s",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "aef4a194.eb803",
        "type": "debug",
        "z": "9c2f6343.329b68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "417ccf4c.2cffa",
        "type": "influxdb out",
        "z": "9c2f6343.329b68",
        "influxdb": "7780c62b.7cb898",
        "name": "<SENSOR_NAME>_gasResistance",
        "measurement": "<SENSOR_NAME>_gasResistance",
        "precision": "s",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "3ca313b8.542abc",
        "type": "mqtt-broker",
        "name": "Hub",
        "broker": "mosquitto",
        "port": "8883",
        "tls": "8806cf7c.c8f318",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7780c62b.7cb898",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "<LOCATION_NAME>",
        "name": "<LOCATION_NAME>",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "8806cf7c.c8f318",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false
    }
]