.templates/nodered/reference_flow.json
[
    {
        "id": "96bf7b93.e8b58",
        "type": "tab",
        "label": "<LOCATION_NAME>/<SENSOR_NAME>",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2b60d0ab.81028",
        "type": "mqtt in",
        "z": "96bf7b93.e8b58",
        "name": "",
        "topic": "<LOCATION_NAME>/<SENSOR_NAME>/out",
        "qos": "0",
        "datatype": "json",
        "broker": "898c3f79.f49958",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "7fc150e3.e718c8",
                "bb6b166e.a7588",
                "22a972f9.2879f6",
                "67dacb6b.508a54"
            ]
        ]
    },
    {
        "id": "7fc150e3.e718c8",
        "type": "function",
        "z": "96bf7b93.e8b58",
        "name": "<SENSOR_NAME>_temperature",
        "func": "var payload= [{\n        measurement: \"<SENSOR_NAME>_temperature\",\n        fields: {\n            value: msg.payload[\"temperature\"],\n        },\n        timestamp: msg.payload[\"timestamp\"] * 1000 *1000 *1000\n//        timestamp: new Date()\n        }];\nnode.warn(payload);\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "80c395e1.d3e85",
                "b89c2d17.f910a8"
            ]
        ]
    },
    {
        "id": "80c395e1.d3e85",
        "type": "debug",
        "z": "96bf7b93.e8b58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "b89c2d17.f910a8",
        "type": "influxdb batch",
        "z": "96bf7b93.e8b58",
        "influxdb": "1a878d11.a33303",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "bb6b166e.a7588",
        "type": "function",
        "z": "96bf7b93.e8b58",
        "name": "<SENSOR_NAME>_humidity",
        "func": "var payload= [{\n        measurement: \"<SENSOR_NAME>_humidity\",\n        fields: {\n            value: msg.payload[\"humidity\"],\n        },\n        timestamp: msg.payload[\"timestamp\"] * 1000 *1000 *1000\n//        timestamp: new Date()\n        }];\nnode.warn(payload);\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 220,
        "wires": [
            [
                "71cd49ab.6df9a",
                "6fad517a.1c745"
            ]
        ]
    },
    {
        "id": "71cd49ab.6df9a",
        "type": "debug",
        "z": "96bf7b93.e8b58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "6fad517a.1c745",
        "type": "influxdb batch",
        "z": "96bf7b93.e8b58",
        "influxdb": "1a878d11.a33303",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "22a972f9.2879f6",
        "type": "function",
        "z": "96bf7b93.e8b58",
        "name": "<SENSOR_NAME>_pressure",
        "func": "var payload= [{\n        measurement: \"<SENSOR_NAME>_pressure\",\n        fields: {\n            value: msg.payload[\"pressure\"],\n        },\n        timestamp: msg.payload[\"timestamp\"] * 1000 *1000 *1000\n//        timestamp: new Date()\n        }];\nnode.warn(payload);\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "edf33bea.746448",
                "4d4e126f.49d75c"
            ]
        ]
    },
    {
        "id": "edf33bea.746448",
        "type": "debug",
        "z": "96bf7b93.e8b58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "4d4e126f.49d75c",
        "type": "influxdb batch",
        "z": "96bf7b93.e8b58",
        "influxdb": "1a878d11.a33303",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "67dacb6b.508a54",
        "type": "function",
        "z": "96bf7b93.e8b58",
        "name": "<SENSOR_NAME>_gasResistance",
        "func": "var payload= [{\n        measurement: \"<SENSOR_NAME>_gasResistance\",\n        fields: {\n            value: msg.payload[\"gasResistance\"],\n        },\n        timestamp: msg.payload[\"timestamp\"] * 1000 *1000 *1000\n//        timestamp: new Date()\n        }];\nnode.warn(payload);\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 500,
        "wires": [
            [
                "d10dda71.f24e4",
                "b3c33843.f24878"
            ]
        ]
    },
    {
        "id": "d10dda71.f24e4",
        "type": "debug",
        "z": "96bf7b93.e8b58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "b3c33843.f24878",
        "type": "influxdb batch",
        "z": "96bf7b93.e8b58",
        "influxdb": "1a878d11.a33303",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "898c3f79.f49958",
        "type": "mqtt-broker",
        "z": "",
        "name": "Hub",
        "broker": "mosquitto",
        "port": "8883",
        "tls": "dff81c13.47f48",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1a878d11.a33303",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "<LOCATION_NAME>",
        "name": "<LOCATION_NAME>",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "dff81c13.47f48",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "chain.pem",
        "servername": "",
        "verifyservercert": false
    }
]